* {
  font-family: "Cormorant", serif;
  color: rgb(-3 0 0 / 0.55);
}

.nav-link {
  display: flex;
  padding-top: 5%;
  font-weight: 700;
}

h6 {
  font-weight: 700;
}

.main {
  margin-left: 3%;
}

h1 {
  margin-top: 10%;
  font-weight: 700;
  color: rgb(-3 0 0 / 0.55);
}

/* SEARCH BTN */
.btn-outline-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6ea6a0;
  --bs-btn-border-color: #6ea6a0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #545454;
  --bs-btn-hover-border-color: #545454;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6ea6a0;
  --bs-btn-active-border-color: #6ea6a0;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6ea6a0;
  --bs-btn-disabled-border-color: #6ea6a0;
}

.card.draggable {
  margin-bottom: 1rem;
  cursor: grab;
}

.droppable {
  background-color: var(--success);
  min-height: 120px;
  margin-bottom: 1rem;
}

/* VIEW BTN */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b6cdca;
  --bs-btn-border-color: #b6cdca;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #545454;
  --bs-btn-hover-border-color: #545454;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b6cdca;
  --bs-btn-active-border-color: #b6cdca;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b6cdca;
  --bs-btn-disabled-border-color: #b6cdca;
}

.lead {
  color: #545454;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ADD A CARD */
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6ea6a0;
  --bs-btn-border-color: #6ea6a0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #545454;
  --bs-btn-hover-border-color: #545454;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6ea6a0;
  --bs-btn-active-border-color: #6ea6a0;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6ea6a0;
  --bs-btn-disabled-border-color: #6ea6a0;
}

.logo {
  margin-top: 10%;
}
